<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="../../assets/images/play-store.png">
                    <img src="../../assets/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../../assets/images/cakelogo.webp">
                <p>Cake is a delightful treat enjoyed by many for its sweetness and variety of flavors
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4 ">
                <h3>Follow Us</h3>
                <ul >
                    <li><i class="fa-brands fa-facebook"></i>Facebook</li>
                    <li><i class="fa-brands fa-twitter" style="color: #727cfd;"></i>Twitter</li>
                    <li><i class="fa-brands fa-square-instagram" style="color: #fd72b5;"></i>Instagram</li>
                    <li><i class="fa-brands fa-youtube" style="color: #ed230c;"></i>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Luminar</p>
    </div>
</div>